:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #D2D8DF;

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  padding: 90px 0 0 0;
}

form {
  background-color: #ffffff;
  width: 700px;
  border-radius: 16px;
  padding: 48px 48px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 60px;
  box-shadow: 7px 7px 15px -7px rgba(0, 0, 0, 0.048);

  &> button {
    background-color: #164AFF;
    border: none;
    width: 100%;
    color: #FFF;
    padding: 16px;
    border-radius: 8px;
  }

  &> .input-group{
      display: flex;
      flex-direction: column;
      gap: 20px;

    &> h1 {
      margin: 0 0 12px 0;
      font-size: 20px;
    }

    &> .row {
      display: flex;
      gap: 30px;
  
      &> .input-container{
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;
    
        &> input {
          background-color: none;
          border: 1px solid #d9dde4e8;
          outline: #577CFF;
          height: 40px;
          padding-left: 12px;
          border-radius: 8px;
  
        }
    
        &> label {
          color: #4e515a;
          font-weight: bold;
        }
      }
    }

  }

  

  
}

/* .nome{
  width: 200px;
}

.email {
  width: 240px;
} */
